<div class="entry">
  <h1><a href="/e/{{ entry.slug }}">{{ escape(entry.title) }}</a></h1>
  <div style="float: right">
    <a style="margin-left: 5px;" class="retweet" href="/e/{{ entry.slug }}" title="{{ escape(entry.title) }}"></a> 
  </div>
  <div class="date">
    {{ locale.format_date(entry.published, full_format=True, shorter=True) }}
  </div>
  <div class="body">{{ entry.body }}</div>
  {% if entry.tags %}
    <div class="tags">
      {{ locale.list(['<a href="/t/%(tag)s">%(escaped_tag)s</a>' % {"tag": tag, "escaped_tag": escape(tag)} for tag in sorted(entry.tags)]) }}
    </div>
  {% end %}
  {% if not show_comments %}
    <div class="comments">
      <a href="/e/{{ entry.slug }}#disqus_thread">Comments</a>
    </div>
  {% else %}
    <div id="disqus_thread"></div>
  {% end %}
  {% if current_user and current_user.administrator %}
    <div style="margin-top: 5px;">
      <a href="/compose?key={{ str(entry.key()) }}">{{ _("Edit") }}</a>
      <a href="/delete?key={{ str(entry.key()) }}">{{ _("Delete") }}</a>
    </div>
  {% end %}
</div>
