<div class="entry">
  <h1><a href="/e/{{ entry.slug }}">{{ escape(entry.title) }}</a></h1>
  {% if show_share %}
    <div style="float: right; height: 18px;">
      <iframe src="http://www.facebook.com/plugins/like.php?href={{ url_escape('http://' + request.host + '/e/' + entry.slug) }}&amp;show_faces=false" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; float:right;"></iframe>
    </div>
  {% end %}
  <div class="date">
    {{ locale.format_date(entry.published, full_format=True, shorter=True) }}
  </div>
  <div class="body">{{ entry.body }}</div>
  {% if entry.tags %}
    <div class="tags">
      {{ locale.list(['<a href="/t/%(tag)s">%(escaped_tag)s</a>' % {"tag": tag, "escaped_tag": escape(tag)} for tag in sorted(entry.tags)]) }}
    </div>
  {% end %}
  {% if current_user and current_user.administrator %}
    <div style="margin-top: 5px;">
      <a href="/compose?key={{ str(entry.key()) }}">{{ _("Edit") }}</a>
      <a href="/delete?key={{ str(entry.key()) }}">{{ _("Delete") }}</a>
      <a href="/hide?key={{ str(entry.key()) }}">{{ _("Hide") }}</a>
    </div>
  {% end %}
  {% if not show_comments %}
    <div class="comments">
      <a href="/e/{{ entry.slug }}#disqus_thread">Comments</a>
    </div>
  {% else %}
    <div id="disqus_thread"></div>
  {% end %}
</div>
