{% extends "base.html" %}

{% block title %}{{ _("About") }} - {{ escape(handler.settings["blog_title"]) }}{% end %}

{% block content %}
  <h2>{{ _("About") }}</h2>
  <p>
    {{ _('I am a Software Engineer at <a href="http://www.facebook.com/">Facebook</a>. Before Facebook I was a FriendFeeder (Software Engineer) at <a href="http://friendfeed.com/">FriendFeed</a> which was <a href="http://www.facebook.com/press/releases.php?p=116581">acquired</a> by Facebook in August 2009.') }}
  </p>
  <p>
    {{ _('This blog is built on <a href="http://www.tornadoweb.org/">Tornado</a>; the same framework that runs FriendFeed. It runs on <a href="http://code.google.com/appengine/">App Engine</a> and the source is <a href="http://github.com/bgolub/tornado-blog">available</a>. Other interesting bits of open technology it uses: <a href="http://code.google.com/p/pubsubhubbub/">PubSubHubbub</a>/<a href="http://code.google.com/p/simpleupdateprotocol/">SUP</a> for realtime updates, the <a href="http://developers.facebook.com/docs/reference/plugins/like">Facebook like button</a> with the <a href="http://developers.facebook.com/docs/opengraph">Open Graph protocol</a>, and <a href="http://video.search.yahoo.com/mrss">Media RSS</a>.')}}
  </p>
  <p>
    {{ _('Follow me on <a href="http://www.facebook.com/bgolub">Facebook</a> and <a href="http://friendfeed.com/bgolub">FriendFeed</a>. Or email me at <a href="mailto:benjamin.golub@gmail.com">benjamin.golub@gmail.com</a>.') }}
  </p>
{% end %}
