{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/admin.css" type="text/css"/>
{% end %}

{% block content %}
  <form action="{{ request.path }}" method="post" class="compose">
    {{ xsrf_form_html() }}
    {% if entry %}
      <input type="hidden" name="key" value="{{ str(entry.key()) }}"/>
    {% end %}
    <div class="field">
      <input name="title" type="text" class="title" value="{{ escape(entry.title) if entry else "" }}"/>
    </div>
    <div class="field">
      <textarea name="body" class="body">{{ escape(entry.body) if entry else "" }}</textarea>
    </div>
    <div>
      <input type="submit" class="submit" value="{{ _("Save changes") if entry else _("Publish") }}"/>
      <a href="{{ "/e/" + entry.slug if entry else "/" }}">{{ _("Cancel") }}</a>
    </div>
  </form>
{% end %}
